#tagsList {
  display: flex;
  padding: 0px;
  margin: 23px 0;
  width: 100%;
  @media (max-width: 665px) {
    margin: 5px 0;
  }
  li {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 14px;
    color: white;
    background-color: #ff6060;
    padding: 3px 20px;
    margin: 0 15px 0 0;
    border-radius: 7px;
    @media (max-width: 665px) {
      height: 18px;
      margin-right: 10px;
    }
    @media (max-width: 680px) {
      font-size: 9px;
    }
  }
}
