#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    max-height:870px;
    :hover{
        cursor:pointer;  
    }
    h2{
        color: white;
        font-size: 2em;
        @media (max-width: 810px){
            font-size: 1em;
        }
    }
    .imgBox{
        width:auto;
        height:100%;
        overflow:auto;
        img {
            width: 100%;
            object-fit:cover;
        }
    }  
    
}