#project{
    color: white;
    height:100%;
    margin: 2em;
    font-size: x-large;
    gap:1em;
    @media screen and (max-width: 1040px) {
        font-size: large;
      }
    h2{
        color:yellow;
    }
    #returnBtn{
        position:absolute;
        right: 5%;
        font-size: larger;
        background: none;
        color:white;
        border: none;
        &:hover{
            cursor:pointer;
        }
    }
    #details{
        gap:3em;
        a{
            font-size: 1.5em;
            font-weight: 500;
            color: white;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: red;
            }
        }
        #resources {
            width:50%;
        }
    }                
}
