header {
  display: flex;
  align-items: center;
  width: 90%;
  min-height:10em;
  @media screen and (max-width: 1150px) { 
    min-height:8em;
  }
  @media screen and (max-width: 950px) { 
    min-height:6em;
  }
  @media screen and (max-width: 628px) { 
    min-height:10em;
  }
  justify-content: end;
  border-bottom: 0.3em solid white ;
  @media screen and (max-width: 800px) { 
    justify-content: center;
  }
  nav {
    min-width: 340px;
    padding: 0 2em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    gap: 4em;
}
}