#gallery {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f7f7;
    margin: 0;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    @media (max-width: 810px) {
      flex-direction: column;
      padding: 0;
      background-color: white;
      gap: 22px;
    }
  }
}
