#gallery {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    @media (max-width: 810px) {
      padding: 0;
      background-color: white;
      gap: 22px;
    }
  }
}
