body {
  min-width: 375px;
  margin: 0;
  #container{
    width: 100%;
    min-height:100vh;
    background-image: url("../src/assets/images/background.webp");
    background-position: center;
    position: absolute;
  }
  #container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    min-height:100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #content{
    z-index: 1;
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
