body {
  min-width: 375px;
  #container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
    bottom:0;
    background-image: url("../src/assets/images/background.webp");
    background-position: center;
    background-size: cover;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  #content{
    z-index: 1;
    position: fixed;
    overflow: auto;
    bottom:0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
